body {
  background-color: #f7f7fb;
  color: #5250af;
  font-weight: 500;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3%;
}

.head-item,
.head-title,
.land-item,
.land-title,
.text-d {
  text-decoration: none !important;
}

.head-title {
  font-size: 1.5em;
  margin-top: 5px;
}

.land-title {
  font-size: 1.5em;
  margin-top: 5px;
}

.head-item:hover,
.head-item:active,
.head-item:focus {
  padding: 10%;
  background: #cecbf1;
  box-shadow: 0 0 8px #7c71f4;
}

.head-title:hover {
  color: #9c87f7;
}

.land-item:hover,
.land-item:active,
.land-item:focus {
  padding: 10%;
  background: radial-gradient(
    circle,
    rgb(0, 36, 114) 70%,
    rgb(2, 90, 255),
    rgb(0, 140, 255)
  );
  box-shadow: 0 0 8px #00a0eb;
  color: #43c4ff;
}

.land-title:hover {
  color: #43c4ff;
}

.art-card,
.trade-card {
  width: 100%;
  text-align: left;
  background-color: #f6f4ff;
}

.btn {
  background-color: #9c87f7;
  border-radius: 10%;
  border: none;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, 0.2);
}

.btn:hover,
.btn:active {
  background-color: #c0bdff;
  box-shadow: 0 0 5px #9c87f7;
  color: #9c87f7;
}

button {
  color: #7c71f4;
  background-color: #ebeafd;
  border: none;
  border-radius: 5%;
  box-shadow: 0 0 6px #cecbf1;
}

button:hover {
  background-color: #bdb8fa;
}

.card-header {
  background-color: #d4d7fc !important;
  padding: 5px 15px;
  border: none;
}

.title-font {
  font-size: 1.5rem;
  font-weight: 600;
}

.price {
  background-color: #e1e3fa;
  border-radius: 20%;
  box-shadow: 0 0 5px #d4d7fc;
  margin: 3%;
  text-align: center;
}

.dash-charts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  justify-content: space-between;
}

.box {
  width: 46%;
  background-color: white;
  margin: 2%;
  padding: 2%;
  box-shadow: rgba(188, 99, 255, 0.153) 0px 4px 11px;
}

h4 {
  text-align: left;
}

h2 {
  margin-bottom: 2em;
}

.left {
  text-align: left;
}

.logo {
  width: 50px;
  display: block;
  float: left;
  margin-right: 5px;
}

.icon {
  margin-right: 5px;
}

.docs {
  text-align: start;
}

.landing {
  color: #fff;
  background-color: #020024;
  height: 100vh;
}

.btnl {
  box-shadow: rgb(0 209 255 / 90%) 0px 0px 10px;
  border-radius: 4px;
  background: rgb(0, 132, 255);
  border: none;
  color: rgb(214, 247, 255);
  outline: none;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
  height: 20%;
  transition: opacity 0.2s ease-out 0s, color 0.2s ease-out 0s,
    background 0.2s ease-out 0s;
  padding: 10px;
}

.btnl:hover {
  background-color: rgb(122, 191, 255);
}

.poster {
  width: 90%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
}

.line {
  border-bottom: 0.5px solid rgb(0, 84, 211);
}

.upper-line {
  border-top: 0.5px solid rgb(0, 84, 211);
}

.landing-poster {
  height: 100%;
  width: 100%;
  margin-left: 10%;
  margin-top: 5%;
}

.landing-text {
  margin-top: 5%;
  width: 100%;
}

.title-weight {
  font-weight: bolder;
}

.fancy-border {
  border: 3px solid;
  border-image: linear-gradient(
      to right,
      rgb(149, 248, 255) 25%,
      rgb(170, 139, 219) 75%
    )
    5;
}

.card-container {
  border-radius: 10px;
  background: #1c1c3d;
  height: 300px;
  padding: 10%;
  margin: 5%;
  color: #6ebff5;
}

.commute {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 4px #9ed8ff;
  background: #25a5fa;
  border-radius: 20%;
}

.commute:hover {
  background: radial-gradient(
    circle,
    rgb(0, 140, 255) 70%,
    rgb(0, 36, 114),
    rgb(2, 90, 255)
  );
  box-shadow: 0 0 16px #9ed8ff;
}

.logo-small {
  display: flex;
  justify-content: start;
}

.white {
  color: white;
}

.card-button {
  margin-left: 5px;
}

.form-control {
  border: 1px solid #9c87f7;
  background: #fff;
  color: #9c87f7;
}

.input-group-text {
  background: #efefff;
  border: 1px solid #9c87f7;
  color: #583296;
}

.move-right2 {
  margin-left: 20%;
}
.move-right4 {
  margin-left: 40%;
}
.move-right3 {
  margin-left: 30%;
}
.move-right1 {
  margin-left: 10%;
}

.input-shadow {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, 0.2);
}

.input-shadow:hover,
.input-shadow:active,
.input-shadow:focus {
  box-shadow: 0 0 1px 1px rgba(0, 0, 255, 0.1);
}
@media all and (max-width: 416px) {
  .landing-text {
    position: static;
    width: 100%;
  }
  .card-text {
    display: none;
  }
  .head-title,
  .land-title {
    display: none;
  }
  .logo-small {
    display: flex;
    justify-content: space-around;
  }
  .box {
    width: 100%;
  }
  .move-right1,
  .move-right2,
  .move-right3,
  .move-right4 {
    margin-left: 0;
  }
}
