body {
  background-color: #f7f7fb;
  color: #5250af;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3%;
}

.head-item {
  text-decoration: none !important;
}

.art-card,
.trade-card{
  width: 100%;
  text-align: left;
  background-color: #f2f1f6; 
}

.btn {
  background-color: #9c87f7;
  border-radius: 0;
  border: none;
}

button {
  color: #7c71f4;
  background-color: #e2e1ed;
  border: none;
}

button:hover {
  background-color: #bdb8fa;
}

.card-header {
  background-color: #d4d7fc !important;
  padding: 5px 15px;
  border:none;
}

.title-font {
  font-size: 1.5rem;
  font-weight: 600;
}

.price {
  background-color: #e1e3fa;
}

.dash-charts {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-between;
}

.box {
  width: 46%;
  background-color: white;
  margin: 2%;
  padding:2%;
  box-shadow: rgba(188, 99, 255, 0.153) 0px 4px 11px;
}