body {
  background-color: #f7f7fb;
  color: #5250af;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 600px;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3%;
}

.art-card,
.trade-card{
  width: 100%;
  text-align: left;
  background-color: #f2f1f6; 
}

.btn {
  background-color: #9c87f7;
  border-radius: 0;
  border: none;
}

button {
  color: #7c71f4;
  background-color: #f3f2fe;
  border: none;
}

button:hover {
  background-color: #bdb8fa;
}